        html {
            scroll-behavior: smooth;
        }

        * {
            margin: 0;
        }

        a {
            text-decoration: none;
        }

        *.btn {
            cursor: pointer;
        }

        .background {
            height: 100%;
            width: 100%;
            position: fixed;
            z-index: -999;
        }

        .background .back-img img {
            height: 100%;
            width: 100%;
            position: absolute;
        }

        .back-overlay {
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            position: absolute;
        }

        /***********************************NAVIGATION BAR CSS START**************************************/

        .navi {
            background-color: transparent;
            width: 86%;
            margin: auto;

            /* For Making the Navbar-Sticky . you must give the position ...where to stick....like: top:10px*/
            /* position: sticky;
            top: 0; */
        }

        .navbar {
            width: 100%;
            display: flex;
            height: auto;
            padding: 15 0 15 0;
            background-color: rgb(0, 0, 0, 0.1);
        }

        .left-img {
            width: 15%;
        }

        .right {
            height: 25px;
            width: 77%;
            /* position: absolute; */
            padding: 15 25 15 0;
            text-align: right;
        }

        .right ul a li {
            list-style: none;
            display: inline-table;
            color: white;
            padding-bottom: 10px;
            margin: 0 10 0 10;
            transition: 0.5s;
        }

        .right ul a li:hover {
            color: #e2b741;
            border-bottom: 1px solid #e2b741;
        }

        .navbar .right-img {
            position: absolute;
            right: 10%;
            /* right: 5%; */
            padding: 5 20 0 0;
        }

        .navbar .right-img:hover {
            cursor: pointer;
        }

        .navbar .right-img .ing {
            /* position: absolute; */
        }

        .navbar .right-img .ing {
            position: absolute;
        }

        .navbar .right-img .ing1 {
            position: absolute;
        }

        .navbar .right-img .ing1:hover {
            /* cursor: pointer; */
            display: none;
            cursor: pointer;
        }

        /*NAVIGATION BAR CSS ENDS*/
        /*SCROLL TO TOP BUTTON CSS*/
        .upward-top-button {
            background-color: #E2B741;
            width: 50px;
            text-align: center;
            font-size: 40;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
            border-radius: 100%;
            height: 50px;

        }

        .upward-top-button p {
            padding-top: 10;
        }

        .top-button {
            /* position: absolute; */
            bottom: 10px;
            right: 21px;
            position: fixed;
        }

        .top-button a {
            text-decoration: none;
            color: rgb(0, 0, 0);
        }

        /*SCROLL TO TOP BUTTON CSS END*/
        /*MAIN CONTAINER CSS STARTS*/

        .main-container {
            /* background-color: white; */
            background-image: linear-gradient(100deg, rgb(255, 249, 225), rgb(255, 255, 255));
            width: 86%;
            z-index: -50;
            margin: auto;
            background-size: cover;
            background-repeat: no-repeat;



            /* padding: 30 0 0 0; */
        }

        /*MAIN CONTAINER CSS ENDS*/

        /*FIRST SECTION CSS START*/
        .first-sec{
            padding: 0 0 30 0;
        }
        .image {
            width: 100%;
        }

        .fst-overlay {
            position: absolute;
            font-family: Lucida Calligraphy;
            font-size: 30px;
            padding: 12% 0 0 30%;
            z-index: 5;
        }

        .overlays {
            width: 1174px;
            height: 430px;
            background-color: rgba(0, 0, 0, 0.1);
            position: absolute;

        }

        /*FIRST SECTION CSS ENDS*/

        /*SECOND SECTION CSS STARTS*/
        .second-sec {
            display: flex;
            margin: 20 50 20 20;
            padding: 0 0 30 0;
        }

        .heading {
            font-size: 40px;
            font-weight: bold;
            font-family: Palatino Linotype;
            color: rgb(3, 2, 29);
            width: 81%;
        }

        .small {
            font-size: 20;
            text-align: justify;
            width: 81%;
            margin: 10 0 0 0;
        }
        .second-left{
            margin: 0 0 0 125;
        }
        .second-right img{
            border-radius: 30px;
        }

        /*SECOND SECTION CSS ENDS*/

        /*THIRD SECTION CSS STARTS*/
        .third-sec{
            margin: 50 20 0 20;
            padding: 0 0 30 0;
        }
        .third-sec img{
            height: 70%;            
            width: 100%;
            border-radius: 15px;
        }
        .txt-over{
            position: absolute;
            font-size: 50;
            width: 40%;
            color: rgb(255, 255, 255);
            padding: 130px 0 0 433px;
        }
        /*THIRD SECTION CSS ENDS*/

         /*****************************FOOTER AND COPYRIGHT SECTION START************************/

         .foot {
            /* background-color: rgba(0, 0, 0, 0.6); */
            background-color: rgba(0, 0, 0, 0.3);
            width: 86%;
            height: 40%;
            z-index: -50;
            margin: auto;
            padding: 100 0 0 0;
            display: flex;
            /* padding: 30 0 0 0; */
        }

        .about-us {
            /* float: left; */
            width: 20%;
            padding: 0 20 0 50;
        }

        .about-us-body {
            padding: 20 0 0 0;
            font-size: 15;
            color: rgb(168, 168, 168);
        }

        .foot-div-body ul {
            padding: 12px 0 0 18px;
            color: rgb(168, 168, 168);
        }

        .foot-div-body ul li {
            padding: 12px 0 0 0;
        }

        .foot-div-body ul li a {
            color: rgb(168, 168, 168);
        }

        .foot-div-body ul li a:hover {
            color: rgb(255, 255, 255);
        }

        .hori-line {
            width: 0;
            height: 195px;
            border-left: 1px solid rgb(168, 168, 168);
            /* float: left; */
        }

        .follow-us,
        .whats-hot,
        .company {
            padding: 0 0 0 50;
            width: 20%;
            /* float: left; */
        }

        .foot-head {
            color: rgb(255, 255, 255);
            font-weight: bold;
        }

        .copy-right {
            display: block;
            width: 86%;
            height: 100;
            margin: auto;
            text-align: center;
            color: rgb(168, 168, 168);
        }

        .copy-right-txt {
            padding: 50 0 0 0;
            display: inline-block;
        }

         /****************************FOOTER AND COPYRIGHT SECTION ENDS****************************/